html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
    padding: 0;
    margin: 0;   
}

a {
    text-decoration: none;
}

header {
    background-color: #d7e3fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header img {
    height: 150px;
    margin-right: 100px;
}

header h1 {
    font-size: 45px;
    letter-spacing: 5px;
    color: #0c569b;
}

.color {
    font-size: 42px;
    color: #219ebc;
}

.flex {
    display: flex;
}

.navegacion {
    background-color: #00a6fb;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.navegacion li {
    margin-bottom: 30px;
    text-align: center;
    list-style: none;
}

.navegacion a {
    color: #ccdbdc;
    font-weight: bold;
}

.contenido {
    background-color: #a3cef1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenido  div{
    text-align: center;
    width: 50%;
}

.contenido h2{
    color: #386fa4;
}

.contenido img {
    width: 150px;
}

.links {
    background-color: #ccdbdc;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    order: 1;
}

.links h2 {
    color: #133c55;
}

.links li {
    list-style: none;
    margin-top: 20px;
}

.links a {
    color: #0c569b;
}

footer {
    background-color: #219ebc;
    text-align: center;
    padding: 40px;
}