*{
	font-family: 'Montserrat', sans-serif;
	}

body {
    background-color: #6FB2D2;
  }


.cont{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    height: 915px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-left: 35%;
}

input{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 200%;
    height: 45px;
    border: 0;
    margin: 0 0 15% 15%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
}

select{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 200%;
    padding: 15px;
    border-radius:10px;
    margin: 0 0 15% 15%;
}

::placeholder{
    color: rgb(179, 178, 178);
}


form{
    display: flex;
    flex-direction: column;
}

label {
    margin: 0 0 5% 15%;
}

.boton{
    color: #ffffff;
    background-color: #6FB2D2;
    border-radius: 5px;
}

.tit {
    font-size: 25px;
    margin: 0 10% 1px 15%;
    padding: 5%;
  }
 
div{
    margin: 0 10% 10% 15%;
  }